<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <link href="/apple-icon.png" rel="apple-touch-icon" sizes="76x76"/>
  <!--[if IE]><link rel="icon" type="image/png" sizes="96x96" href="/simile_fs/static/tte/favicon.png"><![endif]-->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <title>AI-biorex, 16:07:53 07.10.2021 CET</title>
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
  <link href="/simile_fs/static/tte/js/chunk-2d219ff9.0aab29fd.js" rel="prefetch"/>
  <link as="style" href="/simile_fs/static/tte/css/app.7bcdcf55.css" rel="preload"/>
  <link as="style" href="/simile_fs/static/tte/css/chunk-vendors.c6def6ad.css" rel="preload"/>
  <link as="script" href="/simile_fs/static/tte/js/app.d2906ed3.js" rel="preload"/>
  <link as="script" href="/simile_fs/static/tte/js/chunk-vendors.59ed7a9d.js" rel="preload"/>
  <link href="/simile_fs/static/tte/css/chunk-vendors.c6def6ad.css" rel="stylesheet"/>
  <link href="/simile_fs/static/tte/css/app.7bcdcf55.css" rel="stylesheet"/>
  <link href="/simile_fs/static/tte/img/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/simile_fs/static/tte/img/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/simile_fs/static/tte/manifest.json" rel="manifest"/>
  <meta content="#344675" name="theme-color"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta content="#344675" name="apple-mobile-web-app-status-bar-style"/>
  <meta content="Vue Light Bootstrap Dashboard" name="apple-mobile-web-app-title"/>
  <link href="/simile_fs/static/tte/img/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon"/>
  <link color="#344675" href="/simile_fs/static/tte/img/icons/safari-pinned-tab.svg" rel="mask-icon"/>
  <meta content="/simile_fs/static/tte/img/icons/msapplication-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#344675" name="msapplication-TileColor"/>
 </head>
 <body>
  <div id="app"></div>
  <script src="/simile_fs/static/tte/js/chunk-vendors.59ed7a9d.js"></script>
  <script src="/simile_fs/static/tte/js/app.d2906ed3.js"></script>
 </body>
</html>